<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <div class="chat-container">
                    <!-- chat box goes here -->
                    Chat Boxes
                </div>
            </div>
            <div class="col-xs-2">
                <div class="users-list">
                    <!-- users list goes here -->
                    User List
                </div>
            </div>
        </div>
    </div>
</div>

<<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>

<script>
    $(function () {
        var hub = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub") 
            .build();

        hub.on("ReceiveMessage", function (listUsers) {
            console.log("Received users:", listUsers);
            $('.users-list').html('');
            for (var i = 0; i < listUsers.length; i++) {
                let online = listUsers[i].isOnline ? '<i class="fa fa-circle"></i>' : "";
                $('.users-list').append('<div id="UserBox-' + listUsers[i].userId + '" class="user-box" onclick="openChatBox(' + listUsers[i].userId + ')">\
                    <h5>'+ listUsers[i].fullname + '</h5>\
                    <span class="is-online">'+ online + '</span>\
                </div>');
            }
        });

        
        hub.on("UpdateOnlineUsers", function (userId) {
            $('.users-list').find('#UserBox-' + userId + '').find('span[class="is-online"]').html('<i class="fa fa-circle"></i>');
        });
        hub.on("UpdateOfflineUsers", function (userId) {
            $('.users-list').find('#UserBox-' + userId + '').find('span[class="is-online"]').html('');

        });
        

        hub.start().then(function () {
            hub.invoke("GetUsersToChat");
        }).catch(function (err) {
            return console.error(err.toString());
        });
    });
</script>