@model EditProfileVM
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body p-0">
                        <div class="iq-edit-list">
                            <ul class="iq-edit-profile d-flex nav nav-pills">
                                <li class="col-md-3 p-0">
                                    <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                        Personal Information
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-edit-list-data">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                            <div class="iq-card">
                                <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                        <h4 class="card-title">Personal Information</h4>
                                    </div>
                                </div>
                                <div class="iq-card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="ModelOnly"></div>
                                        <div class="form-group row align-items-center">
                                            <div class="col-md-12">
                                                <div class="profile-img-edit">
                                                    <div> <input asp-for="ProfilePicture" hidden /></div>
                                                    <img class="profile-pic" src="~/assets/images/@Model.ProfilePicture" alt="profile-pic">
                                                    <div class="p-image">
                                                        <i class="ri-pencil-line upload-button"></i>
                                                        <input class="file-upload" asp-for="ProfilePictureFile" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" row align-items-center">
                                            <div class="form-group col-sm-6">
                                                <label asp-for="Name">First Name:</label>
                                                <input class="form-control" asp-for="Name">
                                                <span asp-validation-for="Name"></span>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label asp-for="Surname">Last Name:</label>
                                                <input class="form-control" asp-for="Surname">
                                                <span asp-validation-for="Surname"></span>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label asp-for="Username">Username:</label>
                                                <input class="form-control" asp-for="Username">
                                                <span asp-validation-for="Username"></span>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <label class="d-block">Gender:</label>
                                                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                                                {
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadio@(gender)" name="Gender" class="custom-control-input" value="@gender"
                                                        @(Model.Gender == (Gender)gender ? "checked" : "")>
                                                        <label class="custom-control-label" for="customRadio@(gender)"> @gender.ToString() </label>
                                                    </div>
                                                }
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label asp-for="BirthDate">Birth Date:</label>
                                                <input class="form-control" asp-for="BirthDate">
                                                <span asp-validation-for="BirthDate"></span>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label asp-for="Email">Email:</label>
                                                <input class="form-control" asp-for="Email">
                                                <span asp-validation-for="Email"></span>
                                            </div>



                                            <div class="form-group col-sm-12">
                                                <label asp-for="Address">Address:</label>
                                                <input class="form-control" asp-for="Address">
                                                <span asp-validation-for="Address"></span>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label asp-for="CurrentPassword">Current Password:</label>
                                                <input class="form-control" asp-for="CurrentPassword">
                                                <span asp-validation-for="CurrentPassword"></span>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label asp-for="NewPassword">New Password:</label>
                                                <input class="form-control" asp-for="NewPassword">
                                                <span asp-validation-for="NewPassword"></span>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label asp-for="ConfirmPassword">Confirm Password:</label>
                                                <input class="form-control" asp-for="ConfirmPassword">
                                                <span asp-validation-for="ConfirmPassword"></span>
                                            </div>
                                            
                                            <div class="form-group col-sm-6">
                                                <label asp-for="PhoneNumber">Phone Number:</label>
                                                <input asp-for="PhoneNumber" class="form-control" >
                                                <span asp-validation-for="PhoneNumber"></span>
                                            </div>
                                            
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        <a href="javascript:history.back()" class="btn iq-bg-danger">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
