
<div id="content-page" class="content-page">
    <div class="container">
            <h1>Confirm Email</h1>
            <div>
                <p>
                    Thank you for confirming your email.
                </p>
            </div>
        </div>
    </div>
</div>