@model CreateCommentVM

<form class="comment-text d-flex align-items-center mt-3" asp-controller="Comment" asp-action="CreateComment" method="post">
    <input asp-for="Text" class="form-control rounded">
    <input asp-for="PostId"  hidden/>
    <div class="comment-attagement d-flex">
        <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
</form>